.contact4-wrapper {
  display: contents;
}
.contact4-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact4-max-width {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact4-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contact4-content1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact4-row {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact4-content2 {
  gap: 24px;
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contact4-contact-info1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact4-content3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact4-text12 {
  align-self: flex-start;
  text-align: center;
}
.contact4-content4 {
  gap: 24px;
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact4-icon3 {
  align-self: flex-start;
}
.contact4-contact-info2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact4-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact4-text14 {
  align-self: stretch;
  text-align: left;
}
.contact4-content6 {
  gap: 24px;
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact4-icon5 {
  align-self: flex-start;
}
.contact4-contact-info3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact4-content7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact4-text16 {
  align-self: flex-start;
  text-align: left;
}
.home-fragment8 {
  display: contents;
}
.home-text78 {
  display: inline-block;
}
.home-fragment7 {
  display: contents;
}
.home-text77 {
  display: inline-block;
}
.home-fragment3 {
  display: contents;
}
.home-text73 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment1 {
  display: contents;
}
.home-text71 {
  display: inline-block;
}
.home-fragment6 {
  display: contents;
}
.home-text76 {
  display: inline-block;
}
.home-fragment2 {
  display: contents;
}
.home-text72 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment5 {
  display: contents;
}
.home-text75 {
  display: inline-block;
  align-self: flex-start;
  text-align: left;
}
.home-fragment4 {
  display: contents;
}
.home-text74 {
  display: inline-block;
}
.contact4root-class-name {
  background-color: var(--dl-color-theme-secondary1);
}
@media(max-width: 767px) {
  .contact4-row {
    flex-direction: column;
  }
}

.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #6d7a9c;
}
.home-hero-text-container1 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home-heading1 {
  color: var(--dl-color-theme-secondary1);
}
.home-text10 {
  color: var(--dl-color-theme-secondary1);
}
.home-link {
  text-decoration: underline;
}
.home-image1 {
  width: 703px;
  height: 635px;
  margin-top: var(--dl-space-space-tripleunit);
  object-fit: contain;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.home-hero2 {
  width: 100%;
  height: 741px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-image2 {
  width: 728px;
  height: 572px;
  object-fit: contain;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-tripleunit);
}
.home-hero-text-container2 {
  width: 553px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home-heading2 {
  width: 426px;
  height: 82px;
  margin-top: var(--dl-space-space-fiveunits);
}
.home-text14 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text16 {
  color: var(--dl-color-gray-500);
}
.home-text18 {
  color: var(--dl-color-gray-500);
}
.home-text19 {
  font-weight: 700;
}
.home-text21 {
  color: var(--dl-color-gray-500);
}
.home-text22 {
  font-weight: 700;
}
.home-text24 {
  color: var(--dl-color-gray-500);
}
.home-text25 {
  font-weight: 700;
}
.home-hero3 {
  width: 100%;
  height: 730px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container3 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.home-text27 {
  color: var(--dl-color-gray-500);
}
.home-text29 {
  color: var(--dl-color-gray-500);
}
.home-text31 {
  color: var(--dl-color-gray-500);
}
.home-image3 {
  width: 693px;
  height: 612px;
  object-fit: contain;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-features {
  width: 100%;
  height: 670px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #6d7a9c;
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text33 {
  color: var(--dl-color-theme-secondary1);
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-feature-card1 {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-heading4 {
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
.home-text38 {
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
.home-feature-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-heading5 {
  color: var(--dl-color-theme-secondary1);
}
.home-text41 {
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
.home-feature-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-heading6 {
  color: var(--dl-color-theme-secondary1);
}
.home-text44 {
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
.home-slider1 {
  width: 500px;
  height: 300px;
  display: inline-block;
}
.home-slider-pagination1 {
  display: block;
}
.home-testimonials {
  width: 100%;
  height: 411px;
  display: flex;
  padding: var(--dl-space-space-tenunits);
  max-width: var(--dl-size-size-maxcontent);
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-slider2 {
  width: 500px;
  height: 300px;
  display: inline-block;
  align-self: flex-start;
}
.home-slider-slide1 {
  height: 222px;
  display: flex ;
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/before-and-after-6-300h.webp");
}
.home-slider-slide2 {
  display: flex ;
  background-size: cover;
  background-image: url("public/before-and-after.webp2-300h.webp");
}
.home-slider-slide3 {
  width: 482px;
  height: 266px;
  display: flex ;
  margin-top: var(--dl-space-space-tenunits);
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-tenunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/before-and-after-3-300h.webp");
}
.home-slider-pagination2 {
  display: block;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container4 {
  width: 495px;
  height: 142px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 84px;
  justify-content: flex-start;
}
.home-text47 {
  margin-top: var(--dl-space-space-fiveunits);
}
.home-services {
  width: 100%;
  height: 1054px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 12px;
  flex-direction: row;
  justify-content: space-between;
}
.home-service-card1 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: #6d7a9c;
}
.home-card-content1 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text52 {
  color: var(--dl-color-theme-secondary1);
}
.home-text53 {
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
.home-service-card2 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
  background-color: #6d7a9c;
}
.home-card-content2 {
  width: 496px;
  height: 286px;
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text56 {
  color: var(--dl-color-theme-secondary1);
}
.home-text60 {
  color: var(--dl-color-theme-secondary1);
}
.home-service-card3 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #6d7a9c;
}
.home-card-content3 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text61 {
  color: var(--dl-color-theme-secondary1);
}
.home-text62 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text63 {
  color: var(--dl-color-theme-secondary1);
}
.home-text64 {
  color: var(--dl-color-theme-secondary1);
}
.home-text65 {
  color: var(--dl-color-theme-secondary1);
}
.home-service-card4 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #6d7a9c;
}
.home-card-content4 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text67 {
  color: var(--dl-color-theme-secondary1);
}
.home-text68 {
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
.home-image4 {
  width: 1040px;
  height: 486px;
  margin-top: var(--dl-space-space-doubleunit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-fragment1 {
  display: contents;
}
.home-text71 {
  display: inline-block;
}
.home-fragment2 {
  display: contents;
}
.home-text72 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment3 {
  display: contents;
}
.home-text73 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment4 {
  display: contents;
}
.home-text74 {
  display: inline-block;
}
.home-fragment5 {
  display: contents;
}
.home-text75 {
  display: inline-block;
  align-self: flex-start;
  text-align: left;
}
.home-fragment6 {
  display: contents;
}
.home-text76 {
  display: inline-block;
}
.home-fragment7 {
  display: contents;
}
.home-text77 {
  display: inline-block;
}
.home-fragment8 {
  display: contents;
}
.home-text78 {
  display: inline-block;
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column-reverse;
  }
  .home-hero-text-container1 {
    width: 80%;
    margin-left: 0px;
  }
  .home-image1 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-hero2 {
    flex-direction: column-reverse;
  }
  .home-image2 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-hero-text-container2 {
    width: 80%;
    margin-left: 0px;
  }
  .home-hero3 {
    flex-direction: column-reverse;
  }
  .home-hero-text-container3 {
    width: 80%;
    margin-left: 0px;
  }
  .home-image3 {
    width: 80%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card1 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .home-heading1 {
    text-align: center;
  }
  .home-text10 {
    text-align: center;
  }
  .home-heading2 {
    text-align: center;
  }
  .home-text14 {
    text-align: center;
  }
  .home-heading3 {
    text-align: center;
  }
  .home-text27 {
    text-align: center;
  }
  .home-text28 {
    text-align: center;
  }
  .home-text30 {
    text-align: center;
  }
  .home-text32 {
    text-align: center;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-feature-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-feature-card3 {
    width: 70%;
  }
  .home-text47 {
    text-align: center;
  }
  .home-card-content1 {
    margin: 0px;
  }
  .home-card-content2 {
    margin: 0px;
  }
  .home-card-content3 {
    margin: 0px;
  }
  .home-card-content4 {
    margin: 0px;
  }
}
@media(max-width: 479px) {
  .home-hero-text-container1 {
    width: 100%;
  }
  .home-image1 {
    width: 100%;
  }
  .home-image2 {
    width: 100%;
  }
  .home-hero-text-container2 {
    width: 100%;
  }
  .home-hero-text-container3 {
    width: 100%;
  }
  .home-image3 {
    width: 100%;
  }
  .home-feature-card1 {
    width: 100%;
  }
  .home-feature-card2 {
    width: 100%;
  }
  .home-feature-card3 {
    width: 100%;
  }
  .home-text47 {
    text-align: center;
  }
  .home-service-card1 {
    width: 100%;
  }
  .home-service-card2 {
    width: 100%;
  }
  .home-service-card3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-service-card4 {
    width: 100%;
  }
}
